[submodule "part1/ex_1.10/part1/ex_1.10/frontend-example-docker"]
	path = part1/ex_1.10/part1/ex_1.10/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "part1/ex_1.11/backend-example-docker"]
	path = part1/ex_1.11/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
