[submodule "part1/ex_1.10/part1/ex_1.10/frontend-example-docker"]
	path = part1/ex_1.10/part1/ex_1.10/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "part1/ex_1.11/backend-example-docker"]
	path = part1/ex_1.11/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
[submodule "part1/ex_1.13/spring-example-project"]
	path = part1/ex_1.13/spring-example-project
	url = https://github.com/docker-hy/spring-example-project.git
[submodule "part1/ex_1.14/rails-example-project"]
	path = part1/ex_1.14/rails-example-project
	url = https://github.com/docker-hy/rails-example-project.git
[submodule "part2/ex_2.03/frontend-example-docker"]
	path = part2/ex_2.03/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "part2/ex_2.03/backend-example-docker"]
	path = part2/ex_2.03/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
[submodule "part2/ex_2.04/scaling-exercise"]
	path = part2/ex_2.04/scaling-exercise
	url = https://github.com/docker-hy/scaling-exercise.git
[submodule "part3/ex_3.01/frontend-example-docker"]
	path = part3/ex_3.01/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "part3/ex_3.01/backend-example-docker"]
	path = part3/ex_3.01/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
